button {
  background-color: transparent;
  outline: none;
  border: none;
}

button:hover {
  transform: scale(105%);
}

.hidden {
  display: none !important;
}

#guess-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#decrease {
  transform: rotate(180deg);
}

#decrease:hover {
  transform: rotate(180deg) scale(1.1);
  cursor: pointer;
}

#increase:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f !important;
}

.fa-sun {
  color: #f39c12 !important;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
